* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    padding: 5px 5px;
}

nav .image {
    display: flex;
    align-items:center;
}

nav .image img {
    display: flex;
    width: 50px;
    height: 40px;
    margin: 3px;
    padding: 1px;
}

nav .image span {
    font-size: 20px;
    font-weight: bold;
    margin: 4px;
    padding: 5px;
    
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition:color 0.3s;
}

nav ul li a:hover {
    color: rgb(236, 17, 236);
}

/* Search Buttons*/

.searchbutton {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin:2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);;
}

.searchbutton input[type= "text"] {
    flex: 1;
    padding: 2px 35px;
    font-size: 14px;
    border: 1px;
    padding-left: 5px;
    padding-right: 120px;
}

.searchbutton button {
    padding: 4px 5px;
    font-size: 13px;
    border: none;
    border-radius: 4px;


}